- var title = `Page ${page+1}/${pages} of ${name}`

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
    body
        h1= title
        div
            if page > 0
                a(href=`./page_${page-1}.html`) Previous
            else
                a
            if page < pages
                a(href=`./page_${page+1}.html`) Next
            else 
                a
        #hocr !{hocr.replace("image &quot;&quot;", `image '../pages_png/page_${page}.png'`)}
        script
            include ./hocr-fullscreen.js


        