- var title = `Page ${page+1}/${pages} of ${name}`
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="hocr-proofreader.css")
        link(rel="stylesheet", href="page-style.css")
        script(src="hocr-proofreader.js")
        script.
            let pos; 
            let ele;
            function grabElement(e) {
                e.preventDefault()
                
                pos = {
                    left: ele.scrollLeft,
                    top: ele.scrollTop,
                    // Get the current mouse position
                    x: e.clientX,
                    y: e.clientY,
                };

                document.addEventListener('mousemove', mouseMoveHandler);
                document.addEventListener('mouseup', mouseUpHandler);
            };

            function mouseMoveHandler(e) {
                // How far the mouse has been moved
                const dx = e.clientX - pos.x;
                const dy = e.clientY - pos.y;

                // Scroll the element
                ele.scrollTop = pos.top - dy;
                ele.scrollLeft = pos.left - dx;
            };

            function mouseUpHandler(){

                document.removeEventListener('mousemove', mouseMoveHandler);
                document.removeEventListener('mouseup', mouseUpHandler);
            };

            // Attach the handler
            
            Util.onReady(function () {
                window.hocrProofreader = new HocrProofreader({
                    layoutContainer: 'layout-container',
                    editorContainer: 'editor-container'
                });

                hocrProofreader.setHocr(document.getElementById("hocr").innerHTML, "");

                ele = container = document.getElementById("layout-container")
                container.addEventListener('mousedown', grabElement);
                container.style.overflow = "hidden";
                let {width:clientWidth, heigth:clientHeight} = container.getBoundingClientRect();
                let docBBox = hocrProofreader.getNodeOptions(hocrProofreader.currentPage).bbox;
                let [docWidth, docHeight] = [docBBox[2]-docBBox[0],docBBox[3]-docBBox[1]];

                let fitZoomValue =  clientWidth / docWidth;
                
                
                window.setZoom = (v) => {
                    v = Math.min(Math.max(v, 0.05), 2)
                    hocrProofreader.layoutSvg.style.width = '' + docWidth*v + 'px';
                    hocrProofreader.layoutSvg.style.height = '' + docHeight*v + 'px';
                    hocrProofreader.layoutSvg.style.maxWidth = null;
                    hocrProofreader.layoutSvg.style.maxHeight = null;
                    hocrProofreader.currentZoomValue = v;
                }
                setZoom(fitZoomValue);
                document.getElementById("zoom-fit").onclick = () => setZoom(fitZoomValue);
                document.getElementById("zoom-in").onclick = () => setZoom(hocrProofreader.currentZoomValue+0.1);
                document.getElementById("zoom-out").onclick = () => setZoom(hocrProofreader.currentZoomValue-0.1);
            });            
    body
        header
            div#left
                #zoom
                    #zoom-out -
                    #zoom-fit &#x26F6;
                    #zoom-in +
                span= name 
            div#center 
                if page > 0
                    a#previous.nav-link(href=`page_${page-1}.html`) &lt;
                else
                    a#previous.nav-link.disabled &lt;        
                span.nav-link.disabled= page+1
                span.nav.link.disabled /
                span.nav-link.disabled= pages
                if page+1 < pages
                    a#next.nav-link(href=`page_${page+1}.html`) &gt;
                else
                    a#next.nav-link.disabled &gt;
            div#right
        div#layout-container
        div#editor-container
        footer
            ul
                - let curr = 0;
                while curr < pages
                    if curr != page   
                        li: a(href=`page_${curr}.html`)
                            span= curr+1
                            img(src=`../pages_thumbnail/page_${curr}.png`)
                    else
                        li: a.active
                            span= curr+1
                            img(src=`../pages_thumbnail/page_${curr}.png`)
                    - curr++;

        // Insert ocr inline
        #hocr(style="display: none;") !{hocr.replace("image &quot;&quot;", `image '../pages_png/page_${page}.png'; scan_res 1200 1200`)}

        